# -----------------------------------------
# Общий шаблон локального окружения
# -----------------------------------------

SERVICES=core,inventory,order,payment

# -----------------------------------------
# Core Infrastructure
# -----------------------------------------

KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=29093
KAFKA_UI_PORT=8081
KAFKA_CLUSTER_ID=Mk3OEYBSD34fcwNTJENDM2Qk

# -----------------------------------------
# Inventory Service
# -----------------------------------------

INVENTORY_GRPC_HOST=0.0.0.0
INVENTORY_GRPC_PORT=50051
INVENTORY_APP_SHUTDOWN_TIMEOUT=10s

INVENTORY_POSTGRES_USER=inventory
INVENTORY_POSTGRES_PASSWORD=inventory
INVENTORY_POSTGRES_DB=inventory
INVENTORY_POSTGRES_EXTERNAL_PORT=5433
INVENTORY_POSTGRES_BIND_HOST=127.0.0.1
INVENTORY_POSTGRES_HOST=127.0.0.1
INVENTORY_POSTGRES_PORT=5433
INVENTORY_POSTGRES_SSL_MODE=disable
INVENTORY_POSTGRES_TIMEOUT=5s

INVENTORY_MIGRATIONS_DIR=inventory/migrations

# -----------------------------------------
# Order Service
# -----------------------------------------

ORDER_HTTP_HOST=0.0.0.0
ORDER_HTTP_PORT=8080
ORDER_APP_SHUTDOWN_TIMEOUT=10s

ORDER_INVENTORY_GRPC_HOST=127.0.0.1
ORDER_INVENTORY_GRPC_PORT=50051
ORDER_PAYMENT_GRPC_HOST=127.0.0.1
ORDER_PAYMENT_GRPC_PORT=50052

ORDER_POSTGRES_USER=order
ORDER_POSTGRES_PASSWORD=order
ORDER_POSTGRES_DB=order
ORDER_POSTGRES_EXTERNAL_PORT=5434
ORDER_POSTGRES_BIND_HOST=127.0.0.1
ORDER_POSTGRES_HOST=127.0.0.1
ORDER_POSTGRES_PORT=5434
ORDER_POSTGRES_SSL_MODE=disable
ORDER_POSTGRES_TIMEOUT=5s

ORDER_MIGRATIONS_DIR=order/migrations

# -----------------------------------------
# Payment Service
# -----------------------------------------

PAYMENT_GRPC_HOST=0.0.0.0
PAYMENT_GRPC_PORT=50052
PAYMENT_APP_SHUTDOWN_TIMEOUT=10s
